{%- comment -%}
  {%- include nav/node.html 
        node = node
        path = string 
        in_section = value_or_nil
        pages = array
        active = bool -%}
  outputs links for the node and its children.
{%- endcomment -%}

{%- if node.section_id -%}
  {%- assign nav_section = node.section_id -%}
{%- else -%}
  {%- assign nav_section = include.in_section -%}
{%- endif -%}

{%- include nav/children.html 
      node = include.node
      path = include.path
      in_section = nav_section -%}

<li class="nav-list-item{% if include.active %} active{% endif %}">

  {%- if nav_children.size >= 1 -%}
    <a href="#" class="nav-list-expander"><svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg></a>
  {%- endif -%}

    <a href="{{ node.url | absolute_url }}" class="nav-list-link{% if include.active %} active{% endif %}">
        {%- if node.title == "VOXL Developer Bootcamp" -%}<i class="fa-solid fa-graduation-cap" style="font-size: medium; padding: 0.5em;"> </i> {%- endif -%}
        {%- if node.title == "Home" -%}<i class="fa-solid fa-home" style="font-size: medium; padding: 0.5em;"> </i> {%- endif -%}
        {%- if node.title == "VOXL SDK" -%}<i class="fa-solid fa-microchip" style="font-size: medium; padding: 0.5em; color: white; "> </i> {%- endif -%}
        {%- if node.title == "VOXL Autopilot & Compute" -%} <img src="../icons/wwe.svg" class="filter-white"/> {%- endif -%}
        {%- if node.title == "VOXL Dev Kits" -%} <i class="fa-solid fa-screwdriver-wrench" style="font-size: medium; padding: 0.4em; color: white; margin-right: 4px; "></i> {%- endif -%}
        {%- if node.title == "Dev Drones" -%} <img src="../icons/test.svg" class="filter-white" style="margin-right: 9px;"/>  {%- endif -%}
        {%- if node.title == "Modems" -%}<i class="fa-solid fa-tower-broadcast" style="font-size: medium; padding: 0.35em; color: white; margin-right: 4px;"> </i> {%- endif -%}
        {%- if node.title == "Expansion Boards" -%}<i class="fa-solid fa-sim-card" style="font-size: medium; padding: 0.5em; color: white; margin-right: 4px;"> </i> {%- endif -%}
        {%- if node.title == "Accessories" -%}<i class="fa-solid fa-plug" style="font-size: medium; padding: 0.5em; color: white; margin-right: 5px;"> </i> {%- endif -%}
        {%- if node.title == "Deprecated" -%}<i class="fa-solid fa-ban" style="font-size: medium; padding: 0.5em; color: red;"> </i> {%- endif -%}
        {%- if node.title == "Downloads" -%}<i class="fa-solid fa-download" style="font-size: medium; padding: 0.5em; color: white"> </i> {%- endif -%}
        {%- if node.title == "Contact" -%}<i class="fa-solid fa-address-book" style="font-size: medium; padding: 0.5em; color: white; "> </i> {%- endif -%}
        {{ node.title }}
    </a>


  {%- if nav_children.size >= 1 -%}
    {%- if nav_page_path == include.path -%}
      {%- include nav/links_inactive.html
            nodes = nav_children
            path = include.path
            in_section = nav_section
            pages = include.pages -%}
    {%- else -%}
      {%- include nav/links.html
            nodes = nav_children
            path = include.path
            in_section = nav_section
            pages = include.pages -%}
    {%- endif -%}
  {%- endif -%}
</li>
